/*通用样式*/
body, div, h1, h2, h3, h4, h5, h5, dl, dt, dd { margin: 0; padding: 0;}
ul, ol { list-style-type: none;}

body { font: 14px "Microsoft Yahei",Arial,Helvetica,sans-serif; color: #060601;
background-color: #38627b
}

a:hover { text-decoration: none}

h1{
    font-size: 70px;
    top:50px;
    position: absolute;
    left: 40%;
    color: white;
}
.div1{
    position: relative;
    height: 1000px;

}
.box1{
    position: absolute;
    width: 100%;
    top:20%;
    height: 400px;
    left: 3%;
}

.box{
    height: 300px;
}
.box2{
    margin-bottom: 60px;
}

h3{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

li{
    margin-top: 10px;
    margin-left: 10%;
}

.a1{
    position: absolute;
    top:270px;
    right: 30px;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #707070;
    border-radius: 20px;
    color: white;
}

.a1:hover{
    background-color: #060601;
    color: #38627b;
}
